<profile>
       <id>sonar</id>
       <activation>
            <activeByDefault>true</activeByDefault>
       </activation>
       <properties>
           <sonar.host.url>
                http://localhost:9000
           </sonar.host.url>
       </properties>
</profile>


<servers>
<server> 
<id>tomcat-development-server</id>
<username>admin</username>
<password>admin</password> 
</server>
</servers>